@model shopapp.webui.Models.Product
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <p>Ürün Adı : @Model.Name </p>
    <p>Fiyat : @Model.Price </p>
    <p>Açıklama : @Model.Description </p>
</body>
</html>