<header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Shop App</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos voluptatem dolorem aperiam alias totam impedit ipsa eveniet, consequuntur laboriosam quod inventore fugit! Praesentium assumenda, eaque esse cupiditate id quos soluta!Possimus magnam libero laudantium cupiditate officiis corporis quae explicabo deleniti ut, reiciendis sunt placeat nihil expedita dicta totam. Voluptas, nemo dolore. Cupiditate repellendus quam excepturi eveniet odio eius quasi obcaecati.</p>
            </div>
        </div>
</header>